@charset "utf-8";

#javascript-runner-unit .code-string,
#javascript-runner-unit .output-string
{
    vertical-align: top;
    font-family: var(--monospace-family);
    font-size: 13px;
    line-height: 1.333em;
    width: 100%;
    resize: vertical;
    padding: 0 0.5em;
    tab-size : 4;
    overscroll-behavior: contain;
}

#javascript-runner-unit .actions
{
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0.5em 0;
}

#javascript-runner-unit .action-group
{
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#javascript-runner-unit .action-group + .action-group,
#javascript-runner-unit .action + .action
{
    margin-left: 0.75em;
}

#javascript-runner-unit .interface
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1em 0 -0.25em 0;
}

#javascript-runner-unit .option + .option
{
    margin-left: 0.75em;
}

#javascript-runner-unit .output-string
{
    margin-bottom: 0.25em;
}

#javascript-runner-unit .run-error
{
    color: var(--color-error);
}

#javascript-runner-unit .built-in-functions ul
{
    margin: -0.5em 0;
}

#javascript-runner-unit .built-in-functions li
{
    margin: 0.5em 0;
}

#javascript-runner-unit .built-in-functions code
{
    color: inherit;
    background: var(--color-accent) linear-gradient(hsla(0, 0%, 100%, 0.8), hsla(0, 0%, 100%, 0.8));
}

#javascript-runner-unit .built-in-functions code.select-all
{
    user-select: all;
    cursor: text;
}

#javascript-runner-unit .plain-panel
{
    padding-bottom: 1.5em;
}

#javascript-runner-unit summary
{
    font-weight: bold;
    margin: 1.2em 0 1em 0;
}
